@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        color:rgb(247, 250, 252);
        background-color:rgb(0, 0, 0);
    }
}
@layer components{
    .menulLink{
        @apple cursor-pointer hover:text-[#c5c5c5];
    }
    
}

.colorful-text {
    animation: colorChange 4s infinite;
  }
  
  @keyframes colorChange {
    0% { color: #ff6347; }    /* Tomato */
    25% { color: #4682b4; }   /* SteelBlue */
    50% { color: #32cd32; }   /* LimeGreen */
    75% { color: #ff69b4; }   /* HotPink */
    100% { color: #ff6347; }  /* Back to Tomato */
  }
  